# Лабораторная работа 8. Выбор оптимального классификатора

In [21]:
%matplotlib inline

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

В этой лабораторной работе вам потребуется выбрать наилучший классификатор с оптимальными параметрами для задачи про пассажиров ["Титаника"](https://ru.wikipedia.org/wiki/Титаник).

__Задание 1.__  
Загрузите данные (см. предыдущую лабораторную работу).

In [29]:
train_data = pd.read_csv('input/train.csv')
test_data = pd.read_csv('input/test.csv')

__Задание 2.__  
Проведите предобработку данных (см. предыдущую лабораторную работу).

Данные были предобработаны в лабораторной работе № 7

__Задание 3.__  
Примените масштабирование признаков (`StandardScaler`, `MinMaxScaler`).

In [ ]:
numeric_features = ['Age', 'SibSp', 'Parch', 'Fare']

# # Создание экземпляра StandardScaler
# scaler = StandardScaler()

# # Масштабирование числовых признаков в обучающих данных
# train_data[numeric_features] = scaler.fit_transform(train_data[numeric_features])

# # Масштабирование числовых признаков в тестовых данных
# test_data[numeric_features] = scaler.transform(test_data[numeric_features])

In [ ]:
# # Создание экземпляра MinMaxScaler
# scaler = MinMaxScaler()

# # Масштабирование числовых признаков в обучающих данных
# train_data[numeric_features] = scaler.fit_transform(train_data[numeric_features])

# # Масштабирование числовых признаков в тестовых данных
# test_data[numeric_features] = scaler.transform(test_data[numeric_features])

In [33]:
print("Обучающие данные после масштабирования:")
train_data

Обучающие данные после масштабирования:

,Unnamed: 0,PassengerId,Pclass,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_categories_Missing,Age_categories_Infant,Age_categories_Child,Age_categories_Teenager,Age_categories_Young_Adult,Age_categories_Adult,Age_categories_Senior,Survival_Prediction
0,0,1,3,22.0,1,0,7.2500,0,0,1,0,1,0,0,0,0,1,0,0,0
1,1,2,1,38.0,1,0,71.2833,1,0,0,1,0,0,0,0,0,0,1,0,1
2,2,3,3,26.0,0,0,7.9250,0,0,1,1,0,0,0,0,0,1,0,0,1
3,3,4,1,35.0,1,0,53.1000,1,0,0,1,0,0,0,0,0,1,0,0,1
4,4,5,3,35.0,0,0,8.0500,0,0,1,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,2,27.0,0,0,13.0000,0,1,0,0,1,0,0,0,0,1,0,0,0
887,887,888,1,19.0,0,0,30.0000,1,0,0,1,0,0,0,0,0,1,0,0,1
888,888,889,3,-0.5,1,2,23.4500,0,0,1,1,0,1,0,0,0,0,0,0,1
889,889,890,1,26.0,0,0,30.0000,1,0,0,0,1,0,0,0,0,1,0,0,0
890,890,891,3,32.0,0,0,7.7500,0,0,1,0,1,0,0,0,0,1,0,0,0

In [34]:
print("\nТестовые данные после масштабирования:")
test_data

Тестовые данные после масштабирования:

,Unnamed: 0,PassengerId,Pclass,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_categories_Missing,Age_categories_Infant,Age_categories_Child,Age_categories_Teenager,Age_categories_Young_Adult,Age_categories_Adult,Age_categories_Senior
0,0,892,3,34.5,0,0,7.8292,0,0,1,0,1,0,0,0,0,1,0,0
1,1,893,3,47.0,1,0,7.0000,0,0,1,1,0,0,0,0,0,0,1,0
2,2,894,2,62.0,0,0,9.6875,0,1,0,0,1,0,0,0,0,0,0,1
3,3,895,3,27.0,0,0,8.6625,0,0,1,0,1,0,0,0,0,1,0,0
4,4,896,3,22.0,1,1,12.2875,0,0,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,413,1305,3,-0.5,0,0,8.0500,0,0,1,0,1,1,0,0,0,0,0,0
414,414,1306,1,39.0,0,0,108.9000,1,0,0,1,0,0,0,0,0,0,1,0
415,415,1307,3,38.5,0,0,7.2500,0,0,1,0,1,0,0,0,0,0,1,0
416,416,1308,3,-0.5,0,0,8.0500,0,0,1,0,1,1,0,0,0,0,0,0
417,417,1309,3,-0.5,1,1,22.3583,0,0,1,0,1,1,0,0,0,0,0,0

__Задание 4.__  
Примените различные преобразования признаков (`PolynomialFeatures`).

In [31]:
# Создание экземпляра PolynomialFeatures
poly = PolynomialFeatures(degree=2, include_bias=False)

# Преобразование числовых признаков в обучающих данных
X_train_poly = poly.fit_transform(train_data[numeric_features])

# Преобразование числовых признаков в тестовых данных
X_test_poly = poly.transform(test_data[numeric_features])

# Получение названий новых признаков
new_feature_names = poly.get_feature_names_out(numeric_features)

# Создание DataFrame с новыми признаками
X_train_poly_df = pd.DataFrame(X_train_poly, columns=new_feature_names)
X_test_poly_df = pd.DataFrame(X_test_poly, columns=new_feature_names)

# Объединение новых признаков с исходными данными
train_data = pd.concat([train_data.drop(numeric_features, axis=1), X_train_poly_df], axis=1)
test_data = pd.concat([test_data.drop(numeric_features, axis=1), X_test_poly_df], axis=1)

ValueError: Input X contains NaN.
PolynomialFeatures does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
print("Обучающие данные после преобразования:")
print(train_data.head())

print("\nТестовые данные после преобразования:")
print(test_data.head())

In [ ]:
# Разделение данных на признаки и целевую переменную
X_train = train_data.drop('Survived', axis=1)
y_train = train_data['Survived']

# Создание и обучение модели
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Предсказание и оценка качества
y_pred = model.predict(test_data)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

In [ ]:
# Сохранение предсказаний
submission = pd.DataFrame({'PassengerId': test_data['PassengerId'], 'Survived': y_pred})
submission.to_csv('output/submission_poly.csv', index=False)

print("Файл submission_poly.csv успешно создан!")

__Задание 5.__  
Обучите несколько классификаторов, в том числе:  
1. Логистическую регрессию (`LogisticRegression`).
1. Метод опорных векторов (`SVC`).
1. Метод *k* ближайших соседей (`KNeighborsClassifier`).
1. Наивный байесовский классификатор (`MultinomialNB`).
1. Деревья решений (`DecisionTreeClassifier`).
1. Случайный лес (`RandomForestClassifier`).
1. AdaBoost (`AdaBoost`).
1. Градиентный бустинг (`GradientBoostingClassifier`).

Для обучения и проверки качества можно использовать функцию `train_test_split()`.

In [8]:
# Ваш код здесь

__Задание 6.__  
При помощи `Pipeline` и `GridSearchCV` выберите оптимальную архитектуру:
1. Метод масштабирования.
1. Степень полинома в `PolynomialFeatures`.
1. Параметры классификаторов (в том числе, параметры регуляризации).

Заносите в таблицу Excel результаты тестирования (варианты параметров, оценки качества).

In [9]:
# Ваш код здесь

__Задание 7.__  
1. Выберите несколько лучших классификаторов (от 3 до 10).
1. Обучите выбранные классификаторы на всех доступных размеченных данных.
1. Получите результаты предсказания для тестовых данных.
1. Отправьте результаты на сервер [Kaggle](https://ru.wikipedia.org/wiki/Титаник).

In [10]:
# Ваш код здесь