#                                    Лабораторная работа №7

## Pandas: Обработка данных

**1.** Описание исходных данных приведено тут: https://www.kaggle.com/janiobachmann/math-students. Вам предложены измененные данные.

In [ ]:
# Открываем таблицу с данными об учениках 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os

data = pd.read_csv('math_students.csv', delimiter=',')
data.head()

Проанализируйте данные - выведите всю возможную информацию, типы данных, распределение по каждому столбцу.

In [ ]:
data.info()

In [ ]:
data.describe()

При наличии нелогичных данных или пустых значений - постарайтесь исправить то, что можно, а при невозможности исправления, удалите соответствующие строки. Фиксируйте, какие изменения вы выполняете.

In [ ]:
for col in data.columns:
    print(data[col].value_counts())

In [ ]:
# исправление столбца 'sex'
data['sex'] = data['sex'].replace('N', 'M')

In [ ]:
# исправление столбца 'address'
data['address'] = data['address'].replace('UU', 'U')
data['address'] = data['address'].replace('RR', 'R')

In [ ]:
# исправление столбца 'Pstatus'
data['Pstatus'] = data['Pstatus'].replace('А', 'A')

In [ ]:
# исправление столбцов 'Mjob' и 'Fjob'
data['Mjob'] = data['Mjob'].replace('healths', 'health')
data['Fjob'] = data['Fjob'].replace('service', 'services')

In [ ]:
# исправление столбца 'guardian'
data['guardian'] = data['guardian'].replace('fatherfather', 'father')
data['guardian'] = data['guardian'].replace('bestmother', 'mother')

In [ ]:
# исправление столбца 'activities'
data['activities'] = data['activities'].replace('YES', 'yes')

In [ ]:
# исправление столбца 'higher'
data['higher'] = data['higher'].replace('long', 'no')

In [ ]:
# исправление столбца 'internet'
data['internet'] = data['internet'].replace('yess', 'yes')

In [ ]:
# исправление столбца 'romantic'
data['romantic'] = data['romantic'].replace('noo', 'no')

In [ ]:
# исправление столбца 'famrel'
data['famrel'] = data['famrel'].replace(366, 3)

In [ ]:
for col in data.columns:
    print(data[col].value_counts())

In [ ]:
# Выведем строки, которые содержат пропущенные данные
filtered_data = data[data.isna().any(axis=1)]
filtered_data

In [ ]:
# Удаление строк, содержащих пропущенные значения
data = data.dropna()
data.info()

Если в таблице имеются повторяющиеся строки - удалите их.

In [ ]:
#duplicate = data.duplicated()
#print(duplicate)
#data[duplicate]

# Удаляем дублированные строки
data_unique = data.drop_duplicates()
data.info()

После предобработки данных визуализируйте распределение значений всех столбцов.

In [ ]:
data.hist(bins=50, figsize=(20,15), color='r')
plt.show()

Следующие задания выполните на предобработанных данных.

* Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [ ]:
data['reason'].value_counts()

In [ ]:
print(f'Наиболее частая причина выбора школы - {data['reason'].mode().to_list()[0]}')

* Найдите количество студентов, у родителей (одного или обоих - рассмотрите оба варианта) которых нет никакого образования.

In [ ]:
data[(data['Medu'] == 0) | (data['Fedu'] == 0)]

In [ ]:
print(f'Количество студентов, у которых хотя бы у одного родителя нет образования = {len(data[(data['Medu'] == 0) | (data['Fedu'] == 0)])}')

In [ ]:
data[(data['Medu'] == 0) & (data['Fedu'] == 0)]

In [ ]:
print(f'Количество студентов, у которых у обоих родителей нет образования = {len(data[(data['Medu'] == 0) & (data['Fedu'] == 0)])}')

* Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [ ]:
df = data[data['school'] == 'MS']
df

In [ ]:
print(f'Минимальный возраст учеников школы Mousinho da Silveira = {df['age'].min()}')

* Найдите количество студентов, имеющих нечетное число пропусков.

In [ ]:
df = data[data['absences'] % 2 == 1]
df

In [ ]:
print(f'Количество студентов, имеющих нечетное число пропусков занятий = {len(df)}')

* Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [ ]:
df = data[(data['romantic'] == 'yes')]
print(f"Средняя итоговая оценка студентов, состоящих в романтических отношениях = {df['G3'].mean():.2f}")

df = data[(data['romantic'] == 'no')]
print(f"Средняя итоговая оценка студентов, не состоящих в романтических отношениях =  {df['G3'].mean():.2f}")

* Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [ ]:
max_v = data['activities'].mode().to_list()[0]
print(f'Самое частое значение наличия внеклассных активностей = {max_v}')
df = data[(data['activities'] == 'yes') | (data['activities'] == 'YES')]
print(df['absences'].value_counts())
print(f'Наибольшее число студентов имеет {df['absences'].mode().to_list()[0]} пропусков занятий')

**2.** Возьмите свой набор данных (или выберите, например, на kaggle). Выполните различные возможные операции по предобработке и первичному анализу данных.

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os

Most Streamed Spotify Songs 2023 https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023

In [4]:
sp_stream = pd.read_csv('Lab_7/spotify-2023.csv', delimiter=',', encoding='latin-1')

In [5]:
sp_stream.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [6]:
for col in sp_stream.columns:
    print(sp_stream[col].value_counts())

track_name
About Damn Time       2
Miss You              2
SPIT IN MY FACE!      2
Daylight              2
Die For You           2
                     ..
Gangsta's Paradise    1
CAIRO                 1
I Love You So         1
Dark Red              1
Leï¿½                 1
Name: count, Length: 943, dtype: int64
artist(s)_name
Taylor Swift                          34
The Weeknd                            22
SZA                                   19
Bad Bunny                             19
Harry Styles                          17
                                      ..
Gorillaz, Bad Bunny                    1
j-hope, J. Cole                        1
Robin Schulz, Oliver Tree              1
Don Toliver, Future, Justin Bieber     1
The Walters                            1
Name: count, Length: 645, dtype: int64
artist_count
1    587
2    254
3     85
4     15
5      5
6      3
8      2
7      2
Name: count, dtype: int64
released_year
2022    402
2023    175
2021    119
2020     37
2019     36
2017     23
2016     18
2013     13
2014     13
2015     11
2012     10
2018     10
2011     10
2010      7
2002      6
1999      5
2004      4
1984      4
2000      4
1958      3
1963      3
2008      2
1985      2
1975      2
1995      2
2003      2
1986      2
1970      2
1982      2
1991      2
1959      2
1957      2
1992      1
1968      1
1930      1
1994      1
1997      1
1973      1
1983      1
2007      1
1952      1
1971      1
1950      1
1979      1
1946      1
1942      1
2005      1
1996      1
1998      1
1987      1
Name: count, dtype: int64
released_month
1     134
5     128
3      86
6      86
11     80
12     75
10     73
4      66
7      62
2      61
9      56
8      46
Name: count, dtype: int64
released_day
1     95
21    44
13    43
24    40
7     39
2     39
6     39
4     39
20    39
10    37
9     36
22    33
3     32
17    28
25    28
14    26
5     25
19    25
8     25
23    23
29    23
11    22
30    22
15    21
28    21
27    21
16    20
18    19
31    19
12    17
26    13
Name: count, dtype: int64
in_spotify_playlists
356      3
3006     3
1112     3
1473     3
685      3
        ..
2459     1
10624    1
2418     1
7536     1
7461     1
Name: count, Length: 879, dtype: int64
in_spotify_charts
0     405
4      48
2      42
6      36
3      18
     ...
66      1
88      1
58      1
62      1
63      1
Name: count, Length: 82, dtype: int64
streams
723894473     2
1223481149    2
395591396     2
156338624     2
200972675     1
             ..
294352144     1
972164968     1
920045682     1
2420461338    1
1221813483    1
Name: count, Length: 949, dtype: int64
in_apple_playlists
0      23
8      22
16     20
20     20
10     20
       ..
289     1
162     1
135     1
222     1
102     1
Name: count, Length: 234, dtype: int64
in_apple_charts
0      100
1       40
2       26
3       24
6       16
      ...
136      1
151      1
275      1
266      1
141      1
Name: count, Length: 172, dtype: int64
in_deezer_playlists
0      24
15     23
5      20
13     20
12     18
       ..
270     1
125     1
863     1
328     1
745     1
Name: count, Length: 348, dtype: int64
in_deezer_charts
0     558
1     137
2      48
3      31
6      18
4      18
5      18
9      14
11     11
14     11
13      9
12      9
8       8
18      7
7       7
10      6
16      6
15      6
17      4
22      3
26      3
20      3
24      3
37      2
21      2
38      2
19      2
23      1
58      1
46      1
45      1
28      1
31      1
29      1
Name: count, dtype: int64
in_shazam_charts
0      344
1       73
2       35
3       21
4       19
      ...
101      1
141      1
198      1
68       1
95       1
Name: count, Length: 198, dtype: int64
bpm
120    39
130    31
140    31
92     25
110    24
       ..
189     1
196     1
200     1
188     1
165     1
Name: count, Length: 124, dtype: int64
key
C#    120
G      96
G#     91
F      89
B      81
D      81
A      75
F#     73
E      62
A#     57
D#     33
Name: count, dtype: int64
mode
Major    550
Minor    403
Name: count, dtype: int64
danceability_%
70    43
77    32
80    31
56    30
74    29
      ..
24     1
27     1
29     1
96     1
38     1
Name: count, Length: 72, dtype: int64
valence_%
24    21
40    20
59    18
55    18
53    18
      ..
6      3
16     3
5      2
9      2
95     1
Name: count, Length: 94, dtype: int64
energy_%
74    29
62    28
76    27
66    25
73    23
      ..
14     1
95     1
23     1
15     1
16     1
Name: count, Length: 80, dtype: int64
acousticness_%
0     60
1     48
4     35
2     33
3     30
      ..
85     2
82     2
96     1
95     1
68     1
Name: count, Length: 98, dtype: int64
instrumentalness_%
0     866
1      21
2       7
4       5
3       4
5       4
18      3
6       3
9       3
63      3
10      2
24      2
8       2
13      2
51      2
19      1
17      1
46      1
25      1
35      1
47      1
12      1
90      1
41      1
23      1
20      1
30      1
15      1
91      1
27      1
72      1
42      1
14      1
44      1
11      1
61      1
83      1
22      1
33      1
Name: count, dtype: int64
liveness_%
11    102
9      93
10     78
12     72
8      54
     ...
52      1
90      1
97      1
67      1
54      1
Name: count, Length: 68, dtype: int64
speechiness_%
4     175
3     152
5     130
6      76
8      52
7      49
9      37
10     24
11     22
12     16
14     15
13     12
16     11
23     11
24     10
20     10
25      9
21      8
36      8
28      8
31      8
22      7
33      7
19      7
32      7
29      7
15      6
17      6
18      6
26      6
34      6
39      5
27      5
38      5
40      4
30      4
35      4
46      3
2       3
45      2
37      2
44      2
64      1
49      1
42      1
41      1
43      1
59      1
Name: count, dtype: int64

In [7]:
sp_stream.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6