                                                Бояринцев Дмитрий Федорович

# Лабораторная работа №6

## Библиотека pandas

In [10]:
import pandas as pd
from datetime import datetime

**1**. Таблица moscow-buildings.csv содержит информацию о годах постройки жилых домов в Москве.

1) Загрузите базу данных moscow-buildings.csv и сохраните ее как df_build. Удалите из базы данных строки, в которых значения года постройки не указаны («н.д.»), а после превратите столбец house_year в числовой.

In [11]:
df_build = pd.read_csv("moscow-buildings.csv", index_col=0)
df_build.info()
df_build = df_build.dropna()
df_build = df_build[df_build.house_year != "н.д."]
df_build.info()
df_build["house_year"] = df_build["house_year"].astype("int64")
df_build.dtypes
df_build.house_year
df_build

<class 'pandas.core.frame.DataFrame'>
Index: 29464 entries, 2281084 to 2281107
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   29464 non-null  object
 1   city           29464 non-null  object
 2   address        29464 non-null  object
 3   street_prefix  28972 non-null  object
 4   street_name    28971 non-null  object
 5   building       28974 non-null  object
 6   house_id       29464 non-null  int64
 7   area_name      29464 non-null  object
 8   house_year     29464 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 25827 entries, 2281084 to 2281107
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   25827 non-null  object
 1   city           25827 non-null  object
 2   address        25827 non-null  object
 3   street_prefix  25827 non-null  object
 4   street_name    25827 non-null  object
 5   building       25827 non-null  object
 6   house_id       25827 non-null  int64
 7   area_name      25827 non-null  object
 8   house_year     25827 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.0+ MB

,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
area_id,,,,,,,,,
2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963
...,...,...,...,...,...,...,...,...,...
2281107,г Москва ул Короленко д.7 кор.2,Москва,ул Короленко д.7 кор.2,ул,Короленко,д.7 кор.2,7630827,муниципальный округ Сокольники,1926
2281107,г Москва ул Маленковская д.3,Москва,ул Маленковская д.3,ул,Маленковская,д.3,8280705,муниципальный округ Сокольники,1997
2281107,г Москва ул Русаковская д.31,Москва,ул Русаковская д.31,ул,Русаковская,д.31,7550765,муниципальный округ Сокольники,2009
2281107,г Москва ул Сокольническая Слободка д.3,Москва,ул Сокольническая Слободка д.3,ул,Сокольническая Слободка,д.3,8285714,муниципальный округ Сокольники,2005
2281107,г Москва ул Шумкина д.11 кор.а,Москва,ул Шумкина д.11 кор.а,ул,Шумкина,д.11 кор.а,8476228,муниципальный округ Сокольники,2007

2) Посмотрите на минимальное и максимальное значения года постройки. Разумны ли они? Если нет, уберите из базы данных «странные» значения года постройки (оставьте данные о постройках с года основания Москвы до текущего года включительно). Подсчитайте количество удаленных записей.

In [12]:
min_house_year = df_build["house_year"].min()
max_house_year = df_build["house_year"].max()
print(min_house_year)
print(max_house_year)
df_build = df_build[(df_build["house_year"] >= 1147) & (df_build["house_year"] <= 2024)]
min_house_year = df_build["house_year"].min()
max_house_year = df_build["house_year"].max()
print(min_house_year)
print(max_house_year)
df_build.house_year

5
19781962
1659
2015

area_id
2281084    1968
2281084    1964
2281084    1972
2281084    1963
2281084    1963
           ...
2281107    1926
2281107    1997
2281107    2009
2281107    2005
2281107    2007
Name: house_year, Length: 25804, dtype: int64

3) Выберите из базы данных строки, соответствующие Басманному району и сохраните их в базу basm_data.

In [13]:
df_build[df_build["area_name"].str.contains("Басман", case=False)].head(1)
basm_data = df_build[df_build["area_name"] == "муниципальный округ Басманный"]
basm_data.info()
basm_data

<class 'pandas.core.frame.DataFrame'>
Index: 635 entries, 2281050 to 2281050
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   635 non-null    object
 1   city           635 non-null    object
 2   address        635 non-null    object
 3   street_prefix  635 non-null    object
 4   street_name    635 non-null    object
 5   building       635 non-null    object
 6   house_id       635 non-null    int64
 7   area_name      635 non-null    object
 8   house_year     635 non-null    int64
dtypes: int64(2), object(7)
memory usage: 49.6+ KB

,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
area_id,,,,,,,,,
2281050,г Москва б-р Покровский д.14/5,Москва,б-р Покровский д.14/5,б-р,Покровский,д.14/5,8104093,муниципальный округ Басманный,1927
2281050,г Москва б-р Покровский д.14/6 строение 1,Москва,б-р Покровский д.14/6 строение 1,б-р,Покровский,д.14/6 строение 1,8104094,муниципальный округ Басманный,1915
2281050,г Москва б-р Покровский д.16/10 строение 1,Москва,б-р Покровский д.16/10 строение 1,б-р,Покровский,д.16/10 строение 1,8104099,муниципальный округ Басманный,1860
2281050,г Москва б-р Покровский д.16_18 строение 4_4А,Москва,б-р Покровский д.16_18 строение 4_4А,б-р,Покровский,д.16_18 строение 4_4А,8104106,муниципальный округ Басманный,1860
2281050,г Москва б-р Покровский д.18/15 строение 2,Москва,б-р Покровский д.18/15 строение 2,б-р,Покровский,д.18/15 строение 2,8104113,муниципальный округ Басманный,1860
...,...,...,...,...,...,...,...,...,...
2281050,г Москва ул Чаплыгина д.10/11 строение 3,Москва,ул Чаплыгина д.10/11 строение 3,ул,Чаплыгина,д.10/11 строение 3,8103910,муниципальный округ Басманный,1894
2281050,г Москва ул Чаплыгина д.15 строение 5,Москва,ул Чаплыгина д.15 строение 5,ул,Чаплыгина,д.15 строение 5,8103913,муниципальный округ Басманный,1927
2281050,г Москва ул Чаплыгина д.16,Москва,ул Чаплыгина д.16,ул,Чаплыгина,д.16,8090083,муниципальный округ Басманный,1955
2281050,г Москва ул Чаплыгина д.1А строение 1,Москва,ул Чаплыгина д.1А строение 1,ул,Чаплыгина,д.1А строение 1,8103921,муниципальный округ Басманный,1900
2281050,г Москва ул Чаплыгина д.8 строение 1,Москва,ул Чаплыгина д.8 строение 1,ул,Чаплыгина,д.8 строение 1,8103925,муниципальный округ Басманный,1898

4) Сгруппируйте данные в базе по районам и посмотрите, сколько домов в базе относятся к каждому району.

In [14]:
grouped_data = df_build.groupby("area_name")
print(grouped_data.count())

                                   full_address  city  address  street_prefix  \
area_name
муниципальный округ Академический           344   344      344            344
муниципальный округ Алексеевский            212   212      212            212
муниципальный округ Алтуфьевский            114   114      114            114
муниципальный округ Арбат                   134   134      134            134
муниципальный округ Аэропорт                186   186      186            186
...                                         ...   ...      ...            ...
муниципальный округ Южное Тушино            320   320      320            320
муниципальный округ Южнопортовый            200   200      200            200
муниципальный округ Якиманка                105   105      105            105
муниципальный округ Ярославский             177   177      177            177
муниципальный округ Ясенево                 152   152      152            152

                                   street_name  building  house_id  house_year
area_name
муниципальный округ Академический          344       344       344         344
муниципальный округ Алексеевский           212       212       212         212
муниципальный округ Алтуфьевский           114       114       114         114
муниципальный округ Арбат                  134       134       134         134
муниципальный округ Аэропорт               186       186       186         186
...                                        ...       ...       ...         ...
муниципальный округ Южное Тушино           320       320       320         320
муниципальный округ Южнопортовый           200       200       200         200
муниципальный округ Якиманка               105       105       105         105
муниципальный округ Ярославский            177       177       177         177
муниципальный округ Ясенево                152       152       152         152

[119 rows x 8 columns]

5) Найдите средний возраст дома (возраст – в годах, считаем от текущего года) по каждому району. Подсказка: сначала добавьте переменную house_age («возраст дома»).

In [29]:
current_year = datetime.now().year
df_build["house_age"] = current_year - df_build["house_year"] 
#df_build
#df_build.house_age
average_age = df_build["house_age"].mean()
print(f"{average_age:.2f}")

55.47

/tmp/ipykernel_128/2030102459.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_build["house_age"] = current_year - df_build["house_year"]

6) Найдите самый старый дом и выведите информацию о нем.

In [35]:
#df_build
oldest_house = df_build["house_age"].max()
max_row = df_build[df_build['house_age'] == oldest_house]
print(max_row)

                                  full_address    city  \
area_id
2281064  г Москва пр-кт 40 лет Октября д.12/10  Москва

                              address street_prefix      street_name building  \
area_id
2281064  пр-кт 40 лет Октября д.12/10         пр-кт  40 лет Октября   д.12/10

         house_id                    area_name  house_year  house_age
area_id
2281064   7566338  муниципальный округ Люблино        1659        365

In [36]:
import pandas
import re

**2.** Загрузите таблицу titanic.csv и найдите ответы на следующие вопросы. Если ответ нужно приводить в процентах, то это должно быть число в интервале от 0 до 100, округленное до двух знаков, знак процента не нужен.  

1) Посчитайте долю выживших пассажиров.

In [39]:
data = pandas.read_csv("titanic.csv", index_col="PassengerId")
data["Pclass"] = data["Pclass"].astype(object)
print(data[:10])
data.info()

             Survived Pclass  \
PassengerId
1                   0      3
2                   1      1
3                   1      3
4                   1      1
5                   0      3
6                   0      3
7                   0      1
8                   0      3
9                   1      3
10                  1      2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    object
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 83.5+ KB

In [40]:
surv_counts = data["Survived"].value_counts()
surv_share = surv_counts[1] / surv_counts.sum()
print(f"Доля выживших пассажиров = {surv_share:.2f}")

Доля выживших пассажиров = 0.38

2) Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин.

In [44]:
sex_counts = data["Sex"].value_counts()
print(f"Количество мужчин = {sex_counts["male"]}, количество женщин = {sex_counts['female']}")

data_surv = data[data["Survived"] == 1]
surv_counts = data_surv["Sex"].value_counts()
surv_men = surv_counts["male"] / sex_counts["male"]
surv_women = surv_counts["female"] / sex_counts["female"]
print(f"Доля выживших мужчин = {surv_men:.2f}")
print(f"Доля выживших женщин = {surv_women:.2f}")

Количество мужчин = 577, количество женщин = 314
Доля выживших мужчин = 0.19
Доля выживших женщин = 0.74

3) Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.

In [47]:
pclass_counts = data["Pclass"].value_counts()
print(f"Доля пассажиров 1-го класса = {(pclass_counts[1] / pclass_counts.sum()):.2f}")
print(f"Доля пассажиров 2-го класса = {(pclass_counts[2] / pclass_counts.sum()):.2f}")
print(f"Доля пассажиров 3-го класса = {(pclass_counts[3] / pclass_counts.sum()):.2f}")

pclass_surv_counts = data_surv["Pclass"].value_counts()
print(f"Доля выживших пассажиров 1-го класса = {(pclass_surv_counts[1] / pclass_counts[1]):.2f}")
print(f"Доля выживших пассажиров 2-го класса = {(pclass_surv_counts[2] / pclass_counts[2]):.2f}")
print(f"Доля выживших пассажиров 3-го класса = {(pclass_surv_counts[3] / pclass_counts[3]):.2f}")

Доля пассажиров 1-го класса = 0.24
Доля пассажиров 2-го класса = 0.21
Доля пассажиров 3-го класса = 0.55
Доля выживших пассажиров 1-го класса = 0.63
Доля выживших пассажиров 2-го класса = 0.47
Доля выживших пассажиров 3-го класса = 0.24

4) Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

In [52]:
ages = data["Age"].dropna()
print(f"Средний возраст пассажиров = {ages.mean():.2f}, медиана возраста пассажиров = {ages.median()}")

data_nonsurv = data[data["Survived"] == 0]
ages_surv = data_surv["Age"].dropna()
ages_nonsurv = data_nonsurv["Age"].dropna()
print(f"Средний возраст выживщих пассажиров = {ages_surv.mean():.2f} медиана возраста выживших пассажиров = {ages_surv.median()}")
print(f"Средний возраст невыживщих пассажиров = {ages_nonsurv.mean():.2f}, медиана возраста невыживших пассажиров = {ages_nonsurv.median()}")

Средний возраст пассажиров = 29.70, медиана возраста пассажиров = 28.0
Средний возраст выживщих пассажиров = 28.34 медиана возраста выживших пассажиров = 28.0
Средний возраст невыживщих пассажиров = 30.63, медиана возраста невыживших пассажиров = 28.0

5) Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское имя на корабле?

In [56]:
def clean_name(name): # Процедура выделения собственного имени

    # Первое слово до запятой - фамилия, удаляем ее
    name = name[name.find(",")+1:]
    # Обработка имен женщин
    s = re.search(r'(Dr\. |Lady\. |Miss\. |Mrs\. |Ms\. |the Countess\.)', name)
    if bool(s): 
        # Если есть скобки - то основное имя пассажира в них
        # Извлекаем его
        if (name.find("(") >= 0):
            if (name.find("(")+1 != name.find('"')):
                name = name[name.find("(")+1:name.find(")")]           
            else:
                name = name[:name.find("(")]
    else:    
        # Обработка имен мужчин
        # Если есть скобки - то для мужчин оно не является основным удаляем его
        if name.find("(") >= 0:
            if name[name.find(".")+1:name.find("(")] == ' ':
                name = name[name.find("(")+1:name.find(")")]
            else:
                name = name[:name.find("(")]
       
    # Удаляем обращения
    name = name[name.find(".") + 1: ]
    # То, что в кавычках, не относится к основному имени - удаляем
    # Удаляем кавычки вместе с их содержимым
    if name.find(' "') >= 0:
        name = name[: name.find(' "')]
    name = name.strip()    
    return name
    
# Добавление столбца со списком имен
df = data["Name"].copy()
data["FirstNameList"] = df.map(clean_name)
print(data["FirstNameList"])
# Добавление столбца со списком основных имен (если было имя в скобках, то оно, иначе - первое)
names = data["FirstNameList"].tolist()
names = [x.split()[0] for x in names]
data["basicFirstNameList"] = names
print(data["basicFirstNameList"])

# Нахождение самого популярного женского имени
names_female_count = data[data["Sex"] == "female"]["basicFirstNameList"].value_counts()
print(f"\nСамое популярное женское имя - {names_female_count.head(1).index.values[0]}")

# Нахождение самого популярного мужского имени
names_male_count = data[data["Sex"] == "male"]["basicFirstNameList"].value_counts()
print(f"Самое популярное мужское имя - {names_male_count.head(1).index.values[0]}")

# Нахождение самого популярного составного женского имени
full_names_female_count = data[data["Sex"] == "female"]["FirstNameList"].value_counts()
print(f"\nСамое популярное составное женское имя - {full_names_female_count.head(1).index.values[0]}")

# Нахождение самого популярного составного мужского имени
full_names_male_count = data[data["Sex"] == "male"]["FirstNameList"].value_counts()
print(f"Самое популярное составное мужское имя - {full_names_male_count.head(1).index.values[0]}")

PassengerId
1                 Owen Harris
2      Florence Briggs Thayer
3                       Laina
4               Lily May Peel
5               William Henry
                ...
887                    Juozas
888            Margaret Edith
889           Catherine Helen
890               Karl Howell
891                   Patrick
Name: FirstNameList, Length: 891, dtype: object
PassengerId
1           Owen
2       Florence
3          Laina
4           Lily
5        William
         ...
887       Juozas
888     Margaret
889    Catherine
890         Karl
891      Patrick
Name: basicFirstNameList, Length: 891, dtype: object

Самое популярное женское имя - Anna
Самое популярное мужское имя - William

Самое популярное составное женское имя - Mary
Самое популярное составное мужское имя - John

6) Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

In [58]:
female = data[data["Sex"] == "female"]
unique_female_name = female["basicFirstNameList"].value_counts().loc[lambda x : x == 1].index.tolist()
print(f"Уникальные женские имена: {sorted(unique_female_name)}")

male = data[data["Sex"] == "male"]
unique_male_name = male["basicFirstNameList"].value_counts().loc[lambda x : x == 1].index.tolist()
print(f"\nУникальные мужские имена: {sorted(unique_male_name)}")

full_female = data[data["Sex"] == "female"]
unique_full_female_name = full_female["FirstNameList"].value_counts().loc[lambda x : x == 1].index.tolist()
print(f"\nУникальные составные женские имена: {sorted(unique_full_female_name)}")

full_male = data[data["Sex"] == "male"]
unique_full_male_name = full_male["FirstNameList"].value_counts().loc[lambda x : x == 1].index.tolist()
print(f"\nУникальные составные мужские имена: {sorted(unique_full_male_name)}")

Уникальные женские имена: ['Agda', 'Albina', 'Alfrida', 'Alma', 'Aloisia', 'Amelie', 'Ann', 'Anne', 'Asuncion', 'Aurora', 'Banoura', 'Barrett', 'Beila', 'Berthe', 'Bessie', 'Brigdet', 'Carla', 'Caroline', 'Catharina', 'Clear', 'Cordelia', 'Daisy', 'Delia', 'Doolina', 'Ebba', 'Edwiga', 'Edwina', 'Eleanor', 'Eliina', 'Elin', 'Elina', 'Elise', 'Eliza', 'Ellis', 'Elna', 'Emelia', 'Encarnacion', 'Erna', 'Esther', 'Eugenie', 'Eva', 'Farnham', 'Fatima', 'Georgette', 'Gerda', 'Gertrude', 'Gladys', 'Grace', 'Gretchen', 'Hannah', 'Hanne', 'Harriet', 'Helena', 'Helmina', 'Henriette', 'Hilda', 'Hildur', 'Hileni', 'Hulda', 'Imanita', 'Ingeborg', 'Irene', 'Jamila', 'Jean', 'Jeannie', 'Joan', 'Josefine', 'Julie', 'Juliet', 'Juliette', 'Karolina', 'Katie', 'Katriina', 'Kornelia', 'Kristina', 'Laina', 'Latifa', 'Laura', 'Leah', 'Leila', 'Leontine', 'Lilian', 'Lucille', 'Luise', 'Lulu', 'Lutie', 'Lyyli', 'Malake', 'Manca', 'Mantoura', 'Mara', 'Margareth', 'Margaretta', 'Margit', 'Marguerite', 'Mari', 'Marian', 'Matilda', 'Miriam', 'Myna', 'Nora', 'Nourelain', 'Phyllis', 'Pieta', 'Roberta', 'Robina', 'Ruth', 'Saiide', 'Sallie', 'Sara', 'Selini', 'Selma', 'Sigrid', 'Simonne', 'Stella', 'Stina', 'Sultana', 'Sylvia', 'Telma', 'Thamine', 'Tillie', 'Torborg', 'Velin', 'Vera', 'Virginia', 'Wendla']

Уникальные мужские имена: ['Abraham', 'Achille', 'Adola', 'Adolf', 'Adolphe', 'Ahmed', 'Alden', 'Alfons', 'Alfonzo', 'Algernon', 'Ali', 'Ambrose', 'Amin', 'Andre', 'Antoni', 'Apostolos', 'Archibald', 'Arne', 'Assad', 'Austen', 'Austin', 'Bengt', 'Berk', 'Bernard', 'Bernt', 'Branko', 'Carl/Charles', 'Cerin', 'Chang', 'Choong', 'Christo', 'Clarence', 'Claus', 'Cosmo', 'Denis', 'Dibo', 'Dickinson', 'Domingos', 'Douglas', 'Eberhard', 'Eden', 'Edgar', 'Edgardo', 'Edmond', 'Edvin', 'Edwin', 'Edwy', 'Einar', 'Eiriik', 'Elias', 'Eliezer', 'Elmer', 'Emile', 'Engelhart', 'Ennis', 'Eric', 'Ernesti', 'Ervin', 'Fahim', 'Fang', 'Fared', 'Farred', 'Fletcher', 'Francesco', 'Francisco', 'Frans', 'Frederic', 'Fridtjof', 'Gerios', 'Gosta', 'Guentcho', 'Gurshon', 'Gustave', 'Halim', 'Hammad', 'Harald', 'Harvey', 'Henrik', 'Herbert', 'Herman', 'Houssein', 'Howard', 'Hudson', 'Husein', 'Ignjac', 'Iisakki', 'Ilia', 'Ilmari', 'Ingvald', 'Jaako', 'Jacques', 'Jan', 'Janko', 'Jean', 'Jeremiah', 'Jeso', 'Johann', 'Jose', 'Josef', 'Jovan', 'Jovo', 'Jozef', 'Julian', 'Juozas', 'Kanio', 'Khalil', 'Klas', 'Knud', 'Konrad', 'Kristo', 'Kurt', 'Len', 'Leon', 'Leslie', 'Lionel', 'Liudevit', 'Malkolm', 'Mansouer', 'Mansour', 'Marin', 'Mark', 'Masabumi', 'Matthew', 'Max', 'Maxmillian', 'Meier', 'Milan', 'Mile', 'Milton', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Moses', 'Nakli', 'Nassef', 'Neal', 'Nedelio', 'Nestor', 'Nicholas', 'Niels', 'Nikola', 'Nikolai', 'Norman', 'Oberst', 'Olaf', 'Ole', 'Olof', 'Orsen', 'Oskar', 'Pastcho', 'Paul', 'Pehr', 'Peju', 'Pekka', 'Penko', 'Percy', 'Petar', 'Petco', 'Philemon', 'Philip', 'Phillippe', 'Pierre', 'Quigg', 'Rahamin', 'Raihed', 'Ramon', 'Ristiu', 'Roger', 'Rossmore', 'Sahid', 'Sante', 'Sarkis', 'Satio', 'Sebastiano', 'Selman', 'Shadrach', 'Sigurd', 'Sigvard', 'Simon', 'Sinai', 'Sleiman', 'Spencer', 'Stanio', 'Stefo', 'Stjepan', 'Stoytcho', 'Svend', 'Theodor', 'Theodore', 'Thor', 'Thornton', 'Tido', 'Todor', 'Tyrell', 'Urho', 'Uscher', 'Vasil', 'Viktor', 'Viljo', 'Vincenz', 'Wazli', 'Wilhelm', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff']

Уникальные составные женские имена: ['Ada E Hall', 'Ada Julia Bone', 'Ada Maria Winfield', 'Ada Mary Worth', 'Adele Achem', 'Adele Kiamie', 'Agda Thorilda Viktoria', 'Agnes', 'Agnes Charlotta Bengtsson', 'Albina', 'Alfrida Konstantia Brogren', 'Alice Adelaide Slow', 'Alice Elizabeth', 'Alice Munger', 'Alice Phoebe', 'Alma Cornelia Berglund', 'Aloisia', 'Amelia Milley', 'Amelie', 'Amy Frances Christy', 'Amy Zillah Elsie', 'Ann Elizabeth', 'Anna Andrews', 'Anna Bernhardina Karlsson', 'Anna Katherine', 'Anna Kristine', 'Anna Sigrid Maria Brogren', 'Anna Sophia Atkinson', 'Anna Sylfven', 'Anne', 'Annie', 'Annie Clemmer', 'Annie Jessie', 'Annie Louise Rowley', 'Asuncion', 'Augusta', 'Augusta Charlotta', 'Augusta Maria', 'Augusta Tyler', 'Aurora Adelia', 'Banoura', 'Barrett', 'Beila', 'Bertha Griggs', 'Berthe Antonine', 'Bessie Waldo Daniels', 'Bridget', 'Bridget Mary', 'Brigdet Delia', 'Carla Christine Nielsine', 'Caroline Louise', 'Catharina', 'Catherine', 'Catherine David', 'Catherine Helen', 'Catherine Rizk', 'Charlotte Annie Tate', 'Charlotte Lamson', 'Clara Heinsheimer', 'Clara Jennings Gregg', 'Clear Annie', 'Constance Gladys', 'Constance Mirium', 'Cordelia K Stanlick', 'Daisy E', 'Delia', 'Doolina Margaret', 'Dorothy Ann Wonnacott', 'Dorothy Edith', 'Ebba Iris Alfrida', 'Edith Junkins', 'Edith Martha Bowerman', 'Edith Wearne', 'Edwiga Grabowska', 'Edwina Celia', 'Eleanor Ileen', 'Eliina', 'Elin Matilda Dolck', 'Elina', 'Elisabeth Vilhelmina Berg', 'Elisabeth Walton', 'Elisabeth Walton McMillan', 'Elise', 'Eliza Needs', 'Elizabeth Anne Maidment', 'Elizabeth Anne Wilkinson', 'Elizabeth Catherine Ford', 'Elizabeth Margaret', 'Elizabeth Mussey', 'Elizabeth Ramell', 'Elizabeth W', 'Ellen Natalia', 'Ellis Anna Maria', 'Elna Matilda Persson', 'Elsie', 'Elsie Edith', 'Emelia Maria Vandemoortele', 'Emily', 'Emily Alice Brown', 'Emily Borie', 'Emily Hocking', 'Encarnacion', 'Erna Alexandra', 'Esther Ada Bloomfield', 'Ethel', 'Ethel Clarke', 'Eugenie', 'Eva Miriam', 'Farnham', 'Fatima', 'Florence Briggs Thayer', 'Florence Kate White', 'Georgette Alexandra', 'Gerda Ulrika', 'Gertrude Maybelle', 'Gladys', 'Grace Charity Laury', 'Gretchen Fiske', 'Hannah Wizosky', 'Hanne Youssef Razi', 'Harriet R', 'Hedwig', 'Hedwig Margaritha', 'Helen', 'Helen Loraine', 'Helen Mary', 'Helen Monypeny', 'Helen Walton', 'Helena Wilhelmina', 'Helene Barbara', 'Helene DeLaudeniere Chaput', 'Helmina Josefina', 'Henriette', 'Hilda Mary', 'Hildur E', 'Hileni', 'Hulda Amanda Adolfina', 'Ida', 'Ida Sofia', 'Ida Sophia Fischer', 'Imanita Parrish Hall', 'Ingeborg Constanzia', 'Irene Wallach', 'Jamila', 'Jane Anne Forby', 'Jane Laver', 'Jane Richards', 'Jean Gertrude', 'Jeannie', 'Jessie L', 'Jessie Wills', 'Joan', 'Johanna', 'Johanna Persdotter Larsson', 'Josefine Franchi', 'Julie Rachel', 'Juliet Cummins Wright', 'Juliette Marie Louise Lafargue', 'Karolina', 'Kate Florence', 'Katie', 'Katriina', 'Kornelia Theodosia', 'Kristina Sofia', 'Laina', 'Latifa Qurban', 'Laura Mabel', 'Leah Rosen', 'Leila Saks', 'Leontine Pauline', 'Lilian Hughes', 'Lillian Amy', 'Lillian Gertrud', 'Lillian Jefferys', 'Lily Alexenia Wilson', 'Lily May Peel', 'Lucille Christiana Sutherland', 'Lucy', 'Lucy Noel Martha Dyer-Edwards', 'Luise Gretchen', 'Lulu Thorne Christian', 'Lutie Davis', 'Lyyli Karoliina', 'Mabel', 'Mabel Helen', 'Madeleine', 'Madeleine Talmadge Force', 'Madeleine Violet', 'Malake', 'Manca', 'Mantoura Boulos', 'Mara', 'Margaret Ann Watson', 'Margaret Bechstein', 'Margaret Delia', 'Margaret Edith', 'Margaret Jane', 'Margaret Norton', 'Margaret Tobin', 'Margaret Welles Barron', 'Margareth', 'Margaretta Corning Stone', 'Margit Elizabeth', 'Marguerite Rut', 'Mari Aina', 'Maria', 'Maria Elias', 'Maria Emilia Ojala', 'Maria Josefa Perez de Soto y Vallejo', 'Maria Mathilda Gustafsson', 'Marian Longstreth Morris', 'Marie Catherine', 'Marie Eugenie', 'Marie Grice', 'Marie Marthe Thuillard', 'Marion', 'Marion Elsie', 'Marion Louise', 'Marion Ogden', 'Martha Eustis', 'Martha Evelyn', 'Mary Agatha', 'Mary Aline Towner', 'Mary Conover', 'Mary D Kingcome', 'Mary E Finck', 'Mary Hitchcock', 'Mary Natalie', 'Mathilde', 'Mathilde Francoise Pede', 'Matilda', 'Miriam Sternin', 'Myna Haxtun', 'Nora A', 'Nourelain', 'Phyllis May', 'Pieta Sofia', 'Roberta', 'Robina Maggie', 'Rosa', 'Rosa Hunt', 'Rosalie', 'Rosalie Paula Govaert', 'Ruth', 'Saiide', 'Sallie Monypeny', 'Sara Rebecca', 'Selini Alexander', 'Selma Augusta Emilia Johansson', 'Sigrid Elisabeth', 'Simonne Marie Anne Andree', 'Stella Anna', 'Stina Viola', 'Sultana', 'Susan', 'Susan Parker', 'Sylvia Mae Harbaugh', 'Telma Matilda', 'Thamine', 'Tillie Mandelbaum', 'Torborg Danira', 'Velin', 'Vera Gillespie', 'Virginia Ethel', 'Wendla Maria']

Уникальные составные мужские имена: ['Abraham', 'Achille', 'Adola', 'Adolf Mathias Nicolai Olsen', 'Adolphe', 'Ahmed', 'Albert A', 'Albert Adrian', 'Albert Johan', 'Alden Gates', 'Alexander Oskar', 'Alfons', 'Alfonzo', 'Alfred Fleming', 'Alfred George John', 'Alfred J', 'Alfred Ossian', 'Algernon Henry Wilson', 'Ali', 'Ambrose Jr', 'Amin', 'Anders Johan', 'Anders Vilhelm', 'Andre', 'Andrew', 'Andrew G', 'Anthony', 'Anthony Wood', 'Antoni', 'Antti Gustaf', 'Antti Wilhelm', 'Apostolos', 'Archibald Willingham', 'Arne Jonas', 'Arthur Ernest', 'Arthur Godfrey', 'Arthur H', 'Arthur Jackson', 'Arthur Webster', 'Assad Alexander', 'August', 'August Edvard', 'August Sigfrid', 'August Viktor', 'Austen', 'Austin Blyler', 'Bengt Edvin', 'Benjamin Laventall', 'Berk', 'Bernard', 'Bernt', 'Bertram Frank', 'Bertram Vere', 'Branko', 'Carl', 'Carl Olof', 'Carl/Charles Peter', 'Cerin', 'Chang', 'Charles', 'Charles Alexander', 'Charles Duane', 'Charles Edward', 'Charles Eugene', 'Charles Frederick Waddington', 'Charles Hallace', 'Charles Joseph', 'Charles Leonard', 'Choong', 'Christo', 'Clarence Gustaf Hugo', 'Claus Peter', 'Cosmo Edmund', 'Daniel', 'Daniel Danielsen', 'Daniel J', 'Daniel Warner', 'Denis', 'Dibo', 'Dickinson H', 'Domingos Fernandeo', 'Douglas Bullen', 'Eberhard Thelander', 'Eden Leslie', 'Edgar Joseph', 'Edgardo Samuel', 'Edmond Roger', 'Edvard', 'Edvard Bengtsson', 'Edvin Rojj Felix', 'Edward Arthur', 'Edward Austin', 'Edward Gifford', 'Edward H', 'Edward Pennington', 'Edward Pomeroy', 'Edward Roland', 'Edwin Nelson Jr', 'Edwy Arthur', 'Einar', 'Eino Viljami', 'Eino William', 'Eiriik', 'Elias', 'Eliezer', 'Elmer Zebley', 'Emile', 'Engelhart Cornelius', 'Ennis Hastings', 'Eric', 'Erik', 'Erik Gustaf', 'Ernest', 'Ernest Charles', 'Ernest Courtenay', 'Ernest James', 'Ernest Portage', 'Ernesti Arvid', 'Ernst Adolf', 'Ernst Gilbert', 'Ernst Ulrik', 'Ernst William', 'Ervin G', 'Eugene', 'Eugene Patrick', 'Fahim', 'Fang', 'Fared', 'Farred Chehab', 'Fletcher Fellows', 'Francesco', 'Francis', 'Francis Davis', 'Francis William', 'Francisco M', 'Frank', 'Frank John', 'Frank John William', 'Frans Olof', 'Frederic Kimber', 'Frederick Charles', 'Frederick Edward', 'Frederick James', 'Frederick Maxfield', 'Fridtjof Arne', 'George Achilles', 'George B', 'George Edward', 'George Floyd', 'George Hugh', 'George John Jr', 'George Quincy', 'George Sibley', 'Gerios', 'Gosta Leonard', 'Guentcho', 'Gurshon', 'Gustaf Hjalmar', 'Gustaf Joel', 'Gustave J', 'Halim Gonios', 'Hammad', 'Hanna Assi', 'Hans Kristensen', 'Hans Linus', 'Hans Martin Monsen', 'Hans Peder', 'Harald', 'Harold Theodor', 'Harold Victor', 'Harry Elkins', 'Harry Markland', 'Harvey', 'Henrik Juul', 'Henry Birkhardt', 'Henry Damsgaard', 'Henry Forbes', 'Henry Jr', 'Henry Margido', 'Henry Michael', 'Henry Price', 'Henry Samuel', 'Henry Sleeper', 'Henry William', 'Herbert Fuller', 'Herman', 'Houssein G N', 'Howard Hugh', 'Hudson Trevor', 'Hugh', 'Hugh Roscoe', 'Husein', 'Ignjac', 'Iisakki Antino Aijo', 'Ilia', 'Ilmari Rudolf', 'Ingvald Olai Olsen', 'Jaako Arnold', 'Jacob', 'Jacob Christian', 'Jacques Heath', 'Jakob', 'James Clinch', 'James George', 'James H', 'James Robert', 'Jan Baptist', 'Janko', 'Jean Baptiste', 'Jeremiah', 'Jeso', 'Johan Birger', 'Johan Emil', 'Johan Hansen', 'Johan Henrik Johannesson', 'Johan Julian', 'Johan Svensson', 'Johan Werner', 'Johann', 'Johannes Halvorsen', 'Johannes Joseph', 'John Borland', 'John Borland Jr', 'John D', 'John Denzil', 'John Fredrik Alexander', 'John George', 'John Hall', 'John Hatfield', 'John Hugo', 'John Irwin', 'John Montgomery', 'John Morgan Jr', 'John Viktor', 'John William', 'Jose Neto', 'Josef', 'Joseph Charles', 'Joseph J', 'Joseph Jr', 'Joseph Philippe Lemercier', 'Jovan', 'Jovo', 'Jozef', 'Juha', 'Juha Niilo', 'Julian', 'Juozas', 'Kanio', 'Karl Alfred', 'Karl Edwart', 'Karl Gideon', 'Karl Howell', 'Karl Ivar Sven', 'Karl Johan', 'Karl Siegwart Andreas', 'Karl Thorsten', 'Khalil', 'Klas Albin', 'Knud Paust', 'Konrad Mathias Reiersen', 'Kristo', 'Kurt Arnold Gottfrid', 'Len', 'Leo', 'Leo Edmondus', 'Leo Peter', 'Leon', 'Leonard Charles', 'Leonard Mark', 'Leslie', 'Lewis', 'Lewis Richard', 'Lionel', 'Liudevit', 'Malkolm Joackim', 'Mansouer', 'Mansour', 'Manuel E', 'Manuel Estanslas', 'Marin', 'Mark', 'Masabumi', 'Matthew', 'Matti', 'Matti Alexanteri', 'Mauritz Hakan', 'Mauritz Nils Martin', 'Max', 'Maxmillian', 'Meier', 'Michel', 'Michel M', 'Milan', 'Mile', 'Milton Clyde', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Moses Aaron', 'Nakli', 'Nassef Cassem', 'Neal', 'Nedelio', 'Nestor Cyriel', 'Nicholas', 'Niels Peder', 'Nikola', 'Nikolai Erland', 'Nils August', 'Nils Johan Goransson', 'Nils Martin', 'Norman Campbell', 'Oberst Alfons', 'Olaf Elon', 'Ole Martin', 'Olof', 'Orsen', 'Oskar Arvid', 'Owen George', 'Owen Harris', 'Pastcho', 'Patrick D', 'Paul Edvin', 'Pehr Fabian Oliver Malkolm', 'Peju', 'Pekka Pietari', 'Penko', 'Percival', 'Percival James R', 'Percival Wayland', 'Percy Andrew', 'Petar', 'Petco', 'Peter Andreas Lauritz Andersen', 'Peter David', 'Peter Denis', 'Peter Henry', 'Peter L', 'Philemon', 'Philip', 'Phillippe', 'Pierre', 'Quigg Edmond', 'Rahamin Haim', 'Raihed', 'Ramon', 'Reginald', 'Reginald Charles', 'Reginald Fenton', 'Rene', 'Rene Aime', 'Rene Jacques', 'Richard Cater', 'Richard F', 'Richard Frasar', 'Richard George', 'Richard Henry', 'Richard James', 'Richard Leonard', 'Richard William', 'Ristiu', 'Robert', 'Robert Douglas', 'Robert J', 'Robert James', 'Robert William Norman', 'Robert Williams', 'Roger', 'Rossmore Edward', 'Sahid', 'Samuel Beard', 'Samuel James Hayden', 'Samuel L', 'Sante', 'Sarkis', 'Satio', 'Sebastiano', 'Selman Francis', 'Shadrach', 'Sidney Leonard', 'Sidney Samuel', 'Sigurd Hansen', 'Sigvard Harald Elias', 'Simon', 'Sinai', 'Sleiman', 'Spencer Victor', 'Stanio', 'Stanley George', 'Stanley Hubert', 'Stefo', 'Stephen', 'Stephen Curnow', 'Stephen Weart', 'Stjepan', 'Stoytcho', 'Svend Lauritz', 'Theodor', 'Theodore', 'Thomas Charles', 'Thomas Clinton', 'Thomas Drake Martinez', 'Thomas Henry', 'Thomas J', 'Thomas Joseph', 'Thomas Jr', 'Thomas Leonard', 'Thomas Roussel Davids', 'Thomas Rowan', 'Thomas William Solomon', 'Thor Anderson', 'Thornton', 'Tido', 'Timothy', 'Timothy J', 'Todor', 'Tyrell William', 'Urho Abraham', 'Uscher', 'Vasil', 'Victor Francis', 'Victor de Satode', 'Viktor Richard', 'Viljo', 'Vincenz', 'Walter', 'Walter Chamberlain', 'Walter Donald', 'Walter James', 'Washington', 'Washington Augustus II', 'Wazli', 'Wilhelm', 'William Alfred', 'William Anderson', 'William Arthur', 'William Baird', 'William Bertram', 'William Cahoone Jr', 'William Edward', 'William Ernest', 'William Fisher', 'William Frederick', 'William Henry Marsh', 'William John Robert', 'William Loch', 'William Neal', 'William Rowe', 'William Thompson', 'William Thornton II', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff']

7) Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

In [59]:
list_female_name = female["basicFirstNameList"].value_counts().index.tolist()
print(f"Список женских имен: {sorted(list_female_name)}")

list_male_name = male["basicFirstNameList"].value_counts().index.tolist()
print(f"\nСписок мужских имен: {sorted(list_male_name)}")

list_full_female_name = full_female["FirstNameList"].value_counts().index.tolist()
print(f"\nСписок составных женских имен: {sorted(list_full_female_name)}")

list_full_male_name = full_male["FirstNameList"].value_counts().index.tolist()
print(f"\nСписок составных мужских имен: {sorted(list_full_male_name)}")

Список женских имен: ['Ada', 'Adele', 'Agda', 'Agnes', 'Albina', 'Alfrida', 'Alice', 'Alma', 'Aloisia', 'Amelia', 'Amelie', 'Amy', 'Ann', 'Anna', 'Anne', 'Annie', 'Asuncion', 'Augusta', 'Aurora', 'Banoura', 'Barrett', 'Beila', 'Bertha', 'Berthe', 'Bessie', 'Bridget', 'Brigdet', 'Carla', 'Caroline', 'Catharina', 'Catherine', 'Charlotte', 'Clara', 'Clear', 'Constance', 'Cordelia', 'Daisy', 'Delia', 'Doolina', 'Dorothy', 'Ebba', 'Edith', 'Edwiga', 'Edwina', 'Eleanor', 'Eliina', 'Elin', 'Elina', 'Elisabeth', 'Elise', 'Eliza', 'Elizabeth', 'Ellen', 'Ellis', 'Elna', 'Elsie', 'Emelia', 'Emily', 'Emma', 'Encarnacion', 'Erna', 'Esther', 'Ethel', 'Eugenie', 'Eva', 'Farnham', 'Fatima', 'Florence', 'Georgette', 'Gerda', 'Gertrude', 'Gladys', 'Grace', 'Gretchen', 'Hannah', 'Hanne', 'Hanora', 'Harriet', 'Hedwig', 'Helen', 'Helena', 'Helene', 'Helmina', 'Henriette', 'Hilda', 'Hildur', 'Hileni', 'Hulda', 'Ida', 'Imanita', 'Ingeborg', 'Irene', 'Jamila', 'Jane', 'Jean', 'Jeannie', 'Jessie', 'Joan', 'Johanna', 'Josefine', 'Julie', 'Juliet', 'Juliette', 'Karolina', 'Kate', 'Katherine', 'Katie', 'Katriina', 'Kornelia', 'Kristina', 'Laina', 'Latifa', 'Laura', 'Leah', 'Leila', 'Leontine', 'Lilian', 'Lillian', 'Lily', 'Lucile', 'Lucille', 'Lucy', 'Luise', 'Lulu', 'Lutie', 'Lyyli', 'Mabel', 'Madeleine', 'Malake', 'Manca', 'Mantoura', 'Mara', 'Margaret', 'Margareth', 'Margaretta', 'Margit', 'Marguerite', 'Mari', 'Maria', 'Marian', 'Marie', 'Marija', 'Marion', 'Marjorie', 'Martha', 'Mary', 'Mathilde', 'Matilda', 'Miriam', 'Myna', 'Nora', 'Nourelain', 'Phyllis', 'Pieta', 'Roberta', 'Robina', 'Rosa', 'Rosalie', 'Ruth', 'Saiide', 'Sallie', 'Sara', 'Selini', 'Selma', 'Sigrid', 'Simonne', 'Stella', 'Stina', 'Sultana', 'Susan', 'Sylvia', 'Telma', 'Thamine', 'Tillie', 'Torborg', 'Velin', 'Vera', 'Virginia', 'Wendla']

Список мужских имен: ['Abraham', 'Achille', 'Adola', 'Adolf', 'Adolphe', 'Ahmed', 'Albert', 'Alden', 'Alexander', 'Alfons', 'Alfonzo', 'Alfred', 'Algernon', 'Ali', 'Ambrose', 'Amin', 'Anders', 'Andre', 'Andrew', 'Anthony', 'Antoni', 'Antti', 'Apostolos', 'Archibald', 'Arne', 'Arthur', 'Assad', 'August', 'Austen', 'Austin', 'Bengt', 'Benjamin', 'Berk', 'Bernard', 'Bernt', 'Bertram', 'Branko', 'Carl', 'Carl/Charles', 'Cerin', 'Chang', 'Charles', 'Choong', 'Christo', 'Clarence', 'Claus', 'Cosmo', 'Daniel', 'David', 'Denis', 'Dibo', 'Dickinson', 'Domingos', 'Douglas', 'Eberhard', 'Eden', 'Edgar', 'Edgardo', 'Edmond', 'Edvard', 'Edvin', 'Edward', 'Edwin', 'Edwy', 'Einar', 'Eino', 'Eiriik', 'Elias', 'Eliezer', 'Elmer', 'Emil', 'Emile', 'Engelhart', 'Ennis', 'Eric', 'Erik', 'Ernest', 'Ernesti', 'Ernst', 'Ervin', 'Eugene', 'Fahim', 'Fang', 'Fared', 'Farred', 'Fletcher', 'Francesco', 'Francis', 'Francisco', 'Frank', 'Frans', 'Frederic', 'Frederick', 'Fridtjof', 'George', 'Gerios', 'Gerious', 'Gosta', 'Guentcho', 'Gurshon', 'Gustaf', 'Gustave', 'Halim', 'Hammad', 'Hanna', 'Hans', 'Harald', 'Harold', 'Harry', 'Harvey', 'Henrik', 'Henry', 'Herbert', 'Herman', 'Houssein', 'Howard', 'Hudson', 'Hugh', 'Husein', 'Ignjac', 'Iisakki', 'Ilia', 'Ilmari', 'Ingvald', 'Ivan', 'Jaako', 'Jacob', 'Jacques', 'Jakob', 'James', 'Jan', 'Janko', 'Jean', 'Jeremiah', 'Jeso', 'Johan', 'Johann', 'Johannes', 'John', 'Jose', 'Josef', 'Joseph', 'Jovan', 'Jovo', 'Jozef', 'Juha', 'Juho', 'Julian', 'Juozas', 'Kanio', 'Karl', 'Khalil', 'Klas', 'Knud', 'Konrad', 'Kristo', 'Kurt', 'Lalio', 'Lawrence', 'Lee', 'Len', 'Leo', 'Leon', 'Leonard', 'Leslie', 'Lewis', 'Lionel', 'Liudevit', 'Luka', 'Malkolm', 'Mansouer', 'Mansour', 'Manuel', 'Marin', 'Mark', 'Martin', 'Masabumi', 'Matthew', 'Matti', 'Maurice', 'Mauritz', 'Max', 'Maxmillian', 'Meier', 'Michael', 'Michel', 'Milan', 'Mile', 'Milton', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Moses', 'Nakli', 'Nassef', 'Neal', 'Nedelio', 'Nestor', 'Nicholas', 'Niels', 'Nikola', 'Nikolai', 'Nils', 'Norman', 'Oberst', 'Olaf', 'Ole', 'Olof', 'Orsen', 'Oskar', 'Owen', 'Pastcho', 'Patrick', 'Paul', 'Pehr', 'Peju', 'Pekka', 'Penko', 'Percival', 'Percy', 'Petar', 'Petco', 'Peter', 'Philemon', 'Philip', 'Phillippe', 'Pierre', 'Quigg', 'Rahamin', 'Raihed', 'Ramon', 'Reginald', 'Rene', 'Richard', 'Ristiu', 'Robert', 'Roger', 'Rossmore', 'Sahid', 'Samuel', 'Sante', 'Sarkis', 'Satio', 'Sebastiano', 'Selman', 'Shadrach', 'Sidney', 'Sigurd', 'Sigvard', 'Simon', 'Sinai', 'Sleiman', 'Spencer', 'Stanio', 'Stanley', 'Stefo', 'Stephen', 'Stjepan', 'Stoytcho', 'Svend', 'Tannous', 'Theodor', 'Theodore', 'Thomas', 'Thor', 'Thornton', 'Tido', 'Timothy', 'Todor', 'Tyrell', 'Urho', 'Uscher', 'Vasil', 'Victor', 'Viktor', 'Viljo', 'Vincenz', 'Walter', 'Washington', 'Wazli', 'Wilhelm', 'William', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff']

Список составных женских имен: ['Ada E Hall', 'Ada Julia Bone', 'Ada Maria Winfield', 'Ada Mary Worth', 'Adele Achem', 'Adele Kiamie', 'Agda Thorilda Viktoria', 'Agnes', 'Agnes Charlotta Bengtsson', 'Albina', 'Alfrida Konstantia Brogren', 'Alice', 'Alice Adelaide Slow', 'Alice Elizabeth', 'Alice Munger', 'Alice Phoebe', 'Alma Cornelia Berglund', 'Aloisia', 'Amelia', 'Amelia Milley', 'Amelie', 'Amy Frances Christy', 'Amy Zillah Elsie', 'Ann Elizabeth', 'Anna', 'Anna Andrews', 'Anna Bernhardina Karlsson', 'Anna Katherine', 'Anna Kristine', 'Anna Sigrid Maria Brogren', 'Anna Sofia', 'Anna Sophia Atkinson', 'Anna Sylfven', 'Anne', 'Annie', 'Annie Clemmer', 'Annie Jessie', 'Annie Louise Rowley', 'Asuncion', 'Augusta', 'Augusta Charlotta', 'Augusta Maria', 'Augusta Tyler', 'Aurora Adelia', 'Banoura', 'Barrett', 'Beila', 'Bertha', 'Bertha Griggs', 'Berthe Antonine', 'Bessie Waldo Daniels', 'Bridget', 'Bridget Mary', 'Brigdet Delia', 'Carla Christine Nielsine', 'Caroline Louise', 'Catharina', 'Catherine', 'Catherine David', 'Catherine Helen', 'Catherine Rizk', 'Charlotte Annie Tate', 'Charlotte Lamson', 'Clara Heinsheimer', 'Clara Jennings Gregg', 'Clear Annie', 'Constance Gladys', 'Constance Mirium', 'Cordelia K Stanlick', 'Daisy E', 'Delia', 'Doolina Margaret', 'Dorothy Ann Wonnacott', 'Dorothy Edith', 'Ebba Iris Alfrida', 'Edith Junkins', 'Edith Martha Bowerman', 'Edith Wearne', 'Edwiga Grabowska', 'Edwina Celia', 'Eleanor Ileen', 'Eliina', 'Elin Matilda Dolck', 'Elina', 'Elisabeth Vilhelmina Berg', 'Elisabeth Walton', 'Elisabeth Walton McMillan', 'Elise', 'Eliza Needs', 'Elizabeth', 'Elizabeth Anne Maidment', 'Elizabeth Anne Wilkinson', 'Elizabeth Catherine Ford', 'Elizabeth Margaret', 'Elizabeth Mussey', 'Elizabeth Ramell', 'Elizabeth W', 'Ellen', 'Ellen Natalia', 'Ellis Anna Maria', 'Elna Matilda Persson', 'Elsie', 'Elsie Edith', 'Emelia Maria Vandemoortele', 'Emily', 'Emily Alice Brown', 'Emily Borie', 'Emily Hocking', 'Emma', 'Encarnacion', 'Erna Alexandra', 'Esther Ada Bloomfield', 'Ethel', 'Ethel Clarke', 'Eugenie', 'Eva Miriam', 'Farnham', 'Fatima', 'Florence', 'Florence Briggs Thayer', 'Florence Kate White', 'Georgette Alexandra', 'Gerda Ulrika', 'Gertrude Maybelle', 'Gladys', 'Grace Charity Laury', 'Gretchen Fiske', 'Hannah Wizosky', 'Hanne Youssef Razi', 'Hanora', 'Harriet R', 'Hedwig', 'Hedwig Margaritha', 'Helen', 'Helen Loraine', 'Helen Mary', 'Helen Monypeny', 'Helen Walton', 'Helena Wilhelmina', 'Helene Barbara', 'Helene DeLaudeniere Chaput', 'Helmina Josefina', 'Henriette', 'Hilda Mary', 'Hildur E', 'Hileni', 'Hulda Amanda Adolfina', 'Ida', 'Ida Sofia', 'Ida Sophia Fischer', 'Imanita Parrish Hall', 'Ingeborg Constanzia', 'Irene Wallach', 'Jamila', 'Jane Anne Forby', 'Jane Laver', 'Jane Richards', 'Jean Gertrude', 'Jeannie', 'Jessie L', 'Jessie Wills', 'Joan', 'Johanna', 'Johanna Persdotter Larsson', 'Josefine Franchi', 'Julie Rachel', 'Juliet Cummins Wright', 'Juliette Marie Louise Lafargue', 'Karolina', 'Kate', 'Kate Florence', 'Katherine', 'Katie', 'Katriina', 'Kornelia Theodosia', 'Kristina Sofia', 'Laina', 'Latifa Qurban', 'Laura Mabel', 'Leah Rosen', 'Leila Saks', 'Leontine Pauline', 'Lilian Hughes', 'Lillian Amy', 'Lillian Gertrud', 'Lillian Jefferys', 'Lily Alexenia Wilson', 'Lily May Peel', 'Lucile Polk', 'Lucille Christiana Sutherland', 'Lucy', 'Lucy Noel Martha Dyer-Edwards', 'Luise Gretchen', 'Lulu Thorne Christian', 'Lutie Davis', 'Lyyli Karoliina', 'Mabel', 'Mabel Helen', 'Madeleine', 'Madeleine Talmadge Force', 'Madeleine Violet', 'Malake', 'Manca', 'Mantoura Boulos', 'Mara', 'Margaret', 'Margaret Ann Watson', 'Margaret Bechstein', 'Margaret Delia', 'Margaret Edith', 'Margaret Jane', 'Margaret Norton', 'Margaret Tobin', 'Margaret Welles Barron', 'Margareth', 'Margaretta Corning Stone', 'Margit Elizabeth', 'Marguerite Rut', 'Mari Aina', 'Maria', 'Maria Elias', 'Maria Emilia Ojala', 'Maria Josefa Perez de Soto y Vallejo', 'Maria Mathilda Gustafsson', 'Marian Longstreth Morris', 'Marie Catherine', 'Marie Eugenie', 'Marie Grice', 'Marie Marthe Thuillard', 'Marija', 'Marion', 'Marion Elsie', 'Marion Louise', 'Marion Ogden', 'Marjorie', 'Martha Eustis', 'Martha Evelyn', 'Mary', 'Mary Agatha', 'Mary Aline Towner', 'Mary Conover', 'Mary D Kingcome', 'Mary E Finck', 'Mary Hitchcock', 'Mary Natalie', 'Mathilde', 'Mathilde Francoise Pede', 'Matilda', 'Miriam Sternin', 'Myna Haxtun', 'Nora A', 'Nourelain', 'Phyllis May', 'Pieta Sofia', 'Roberta', 'Robina Maggie', 'Rosa', 'Rosa Hunt', 'Rosalie', 'Rosalie Paula Govaert', 'Ruth', 'Saiide', 'Sallie Monypeny', 'Sara Rebecca', 'Selini Alexander', 'Selma Augusta Emilia Johansson', 'Sigrid Elisabeth', 'Simonne Marie Anne Andree', 'Stella Anna', 'Stina Viola', 'Sultana', 'Susan', 'Susan Parker', 'Sylvia Mae Harbaugh', 'Telma Matilda', 'Thamine', 'Tillie Mandelbaum', 'Torborg Danira', 'Velin', 'Vera Gillespie', 'Virginia Ethel', 'Wendla Maria']

Список составных мужских имен: ['Abraham', 'Achille', 'Adola', 'Adolf Mathias Nicolai Olsen', 'Adolphe', 'Ahmed', 'Albert', 'Albert A', 'Albert Adrian', 'Albert Johan', 'Alden Gates', 'Alexander', 'Alexander Oskar', 'Alfons', 'Alfonzo', 'Alfred', 'Alfred Fleming', 'Alfred George John', 'Alfred J', 'Alfred Ossian', 'Algernon Henry Wilson', 'Ali', 'Ambrose Jr', 'Amin', 'Anders Johan', 'Anders Vilhelm', 'Andre', 'Andrew', 'Andrew G', 'Anthony', 'Anthony Wood', 'Antoni', 'Antti Gustaf', 'Antti Wilhelm', 'Apostolos', 'Archibald Willingham', 'Arne Jonas', 'Arthur', 'Arthur Ernest', 'Arthur Godfrey', 'Arthur H', 'Arthur Jackson', 'Arthur Webster', 'Assad Alexander', 'August', 'August Edvard', 'August Sigfrid', 'August Viktor', 'Austen', 'Austin Blyler', 'Bengt Edvin', 'Benjamin', 'Benjamin Laventall', 'Berk', 'Bernard', 'Bernt', 'Bertram Frank', 'Bertram Vere', 'Branko', 'Carl', 'Carl Olof', 'Carl/Charles Peter', 'Cerin', 'Chang', 'Charles', 'Charles Alexander', 'Charles Duane', 'Charles Edward', 'Charles Eugene', 'Charles Frederick Waddington', 'Charles H', 'Charles Hallace', 'Charles Henry', 'Charles Joseph', 'Charles Leonard', 'Choong', 'Christo', 'Clarence Gustaf Hugo', 'Claus Peter', 'Cosmo Edmund', 'Daniel', 'Daniel Danielsen', 'Daniel J', 'Daniel Warner', 'David', 'David John', 'Denis', 'Dibo', 'Dickinson H', 'Domingos Fernandeo', 'Douglas Bullen', 'Eberhard Thelander', 'Eden Leslie', 'Edgar Joseph', 'Edgardo Samuel', 'Edmond Roger', 'Edvard', 'Edvard Bengtsson', 'Edvin Rojj Felix', 'Edward', 'Edward Arthur', 'Edward Austin', 'Edward Gifford', 'Edward H', 'Edward Pennington', 'Edward Pomeroy', 'Edward Roland', 'Edwin Nelson Jr', 'Edwy Arthur', 'Einar', 'Eino Viljami', 'Eino William', 'Eiriik', 'Elias', 'Eliezer', 'Elmer Zebley', 'Emil', 'Emile', 'Engelhart Cornelius', 'Ennis Hastings', 'Eric', 'Erik', 'Erik Gustaf', 'Ernest', 'Ernest Charles', 'Ernest Courtenay', 'Ernest James', 'Ernest Portage', 'Ernesti Arvid', 'Ernst Adolf', 'Ernst Gilbert', 'Ernst Ulrik', 'Ernst William', 'Ervin G', 'Eugene', 'Eugene Patrick', 'Fahim', 'Fang', 'Fared', 'Farred Chehab', 'Fletcher Fellows', 'Francesco', 'Francis', 'Francis Davis', 'Francis William', 'Francisco M', 'Frank', 'Frank John', 'Frank John William', 'Frans Olof', 'Frederic Kimber', 'Frederick', 'Frederick Charles', 'Frederick Edward', 'Frederick James', 'Frederick Maxfield', 'Frederick William', 'Fridtjof Arne', 'George', 'George Achilles', 'George B', 'George Edward', 'George Floyd', 'George Henry', 'George Hugh', 'George John Jr', 'George Quincy', 'George Sibley', 'Gerios', 'Gerious', 'Gosta Leonard', 'Guentcho', 'Gurshon', 'Gustaf Hjalmar', 'Gustaf Joel', 'Gustave J', 'Halim Gonios', 'Hammad', 'Hanna', 'Hanna Assi', 'Hans Kristensen', 'Hans Linus', 'Hans Martin Monsen', 'Hans Peder', 'Harald', 'Harold Theodor', 'Harold Victor', 'Harry', 'Harry Elkins', 'Harry Markland', 'Harvey', 'Henrik Juul', 'Henry', 'Henry Birkhardt', 'Henry Damsgaard', 'Henry Forbes', 'Henry Jr', 'Henry Margido', 'Henry Michael', 'Henry Price', 'Henry Samuel', 'Henry Sleeper', 'Henry William', 'Herbert Fuller', 'Herman', 'Houssein G N', 'Howard Hugh', 'Hudson Trevor', 'Hugh', 'Hugh Roscoe', 'Husein', 'Ignjac', 'Iisakki Antino Aijo', 'Ilia', 'Ilmari Rudolf', 'Ingvald Olai Olsen', 'Ivan', 'Jaako Arnold', 'Jacob', 'Jacob Christian', 'Jacques Heath', 'Jakob', 'Jakob Alfred', 'James', 'James Clinch', 'James George', 'James H', 'James Robert', 'Jan Baptist', 'Janko', 'Jean Baptiste', 'Jeremiah', 'Jeso', 'Johan', 'Johan Birger', 'Johan Emil', 'Johan Hansen', 'Johan Henrik Johannesson', 'Johan Julian', 'Johan Svensson', 'Johan Werner', 'Johann', 'Johannes Halvorsen', 'Johannes Joseph', 'John', 'John Borland', 'John Borland Jr', 'John D', 'John Denzil', 'John Fredrik Alexander', 'John George', 'John Hall', 'John Hatfield', 'John Henry', 'John Hugo', 'John Irwin', 'John Montgomery', 'John Morgan Jr', 'John Viktor', 'John William', 'Jose Neto', 'Josef', 'Joseph', 'Joseph Charles', 'Joseph J', 'Joseph Jr', 'Joseph Philippe Lemercier', 'Jovan', 'Jovo', 'Jozef', 'Juha', 'Juha Niilo', 'Juho', 'Julian', 'Juozas', 'Kanio', 'Karl Alfred', 'Karl Edwart', 'Karl Gideon', 'Karl Howell', 'Karl Ivar Sven', 'Karl Johan', 'Karl Siegwart Andreas', 'Karl Thorsten', 'Khalil', 'Klas Albin', 'Knud Paust', 'Konrad Mathias Reiersen', 'Kristo', 'Kurt Arnold Gottfrid', 'Lalio', 'Lawrence', 'Lee', 'Len', 'Leo', 'Leo Edmondus', 'Leo Peter', 'Leon', 'Leonard Charles', 'Leonard Mark', 'Leslie', 'Lewis', 'Lewis Richard', 'Lionel', 'Liudevit', 'Luka', 'Malkolm Joackim', 'Mansouer', 'Mansour', 'Manuel E', 'Manuel Estanslas', 'Marin', 'Mark', 'Martin', 'Masabumi', 'Matthew', 'Matti', 'Matti Alexanteri', 'Maurice', 'Mauritz Hakan', 'Mauritz Nils Martin', 'Max', 'Maxmillian', 'Meier', 'Michael', 'Michel', 'Michel M', 'Milan', 'Mile', 'Milton Clyde', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Moses Aaron', 'Nakli', 'Nassef Cassem', 'Neal', 'Nedelio', 'Nestor Cyriel', 'Nicholas', 'Niels Peder', 'Nikola', 'Nikolai Erland', 'Nils August', 'Nils Johan Goransson', 'Nils Martin', 'Norman Campbell', 'Oberst Alfons', 'Olaf Elon', 'Ole Martin', 'Olof', 'Orsen', 'Oskar Arvid', 'Owen George', 'Owen Harris', 'Pastcho', 'Patrick', 'Patrick D', 'Paul Edvin', 'Pehr Fabian Oliver Malkolm', 'Peju', 'Pekka Pietari', 'Penko', 'Percival', 'Percival James R', 'Percival Wayland', 'Percy Andrew', 'Petar', 'Petco', 'Peter Andreas Lauritz Andersen', 'Peter David', 'Peter Denis', 'Peter Henry', 'Peter L', 'Philemon', 'Philip', 'Phillippe', 'Pierre', 'Quigg Edmond', 'Rahamin Haim', 'Raihed', 'Ramon', 'Reginald', 'Reginald Charles', 'Reginald Fenton', 'Rene', 'Rene Aime', 'Rene Jacques', 'Richard', 'Richard Cater', 'Richard F', 'Richard Frasar', 'Richard George', 'Richard Henry', 'Richard James', 'Richard Leonard', 'Richard William', 'Ristiu', 'Robert', 'Robert Douglas', 'Robert J', 'Robert James', 'Robert William Norman', 'Robert Williams', 'Roger', 'Rossmore Edward', 'Sahid', 'Samuel', 'Samuel Beard', 'Samuel James Hayden', 'Samuel L', 'Sante', 'Sarkis', 'Satio', 'Sebastiano', 'Selman Francis', 'Shadrach', 'Sidney Leonard', 'Sidney Samuel', 'Sigurd Hansen', 'Sigvard Harald Elias', 'Simon', 'Sinai', 'Sleiman', 'Spencer Victor', 'Stanio', 'Stanley George', 'Stanley Hubert', 'Stefo', 'Stephen', 'Stephen Curnow', 'Stephen Weart', 'Stjepan', 'Stoytcho', 'Svend Lauritz', 'Tannous', 'Theodor', 'Theodore', 'Thomas', 'Thomas Charles', 'Thomas Clinton', 'Thomas Drake Martinez', 'Thomas Henry', 'Thomas J', 'Thomas Joseph', 'Thomas Jr', 'Thomas Leonard', 'Thomas Roussel Davids', 'Thomas Rowan', 'Thomas William Solomon', 'Thor Anderson', 'Thornton', 'Tido', 'Timothy', 'Timothy J', 'Todor', 'Tyrell William', 'Urho Abraham', 'Uscher', 'Vasil', 'Victor', 'Victor Francis', 'Victor de Satode', 'Viktor Richard', 'Viljo', 'Vincenz', 'Walter', 'Walter Chamberlain', 'Walter Donald', 'Walter James', 'Washington', 'Washington Augustus II', 'Wazli', 'Wilhelm', 'William', 'William Alfred', 'William Anderson', 'William Arthur', 'William Baird', 'William Bertram', 'William Cahoone Jr', 'William Edward', 'William Ernest', 'William Fisher', 'William Frederick', 'William Henry', 'William Henry Marsh', 'William James', 'William John', 'William John Robert', 'William Loch', 'William Neal', 'William Rowe', 'William Thomas', 'William Thompson', 'William Thornton II', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff']

8) Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.

In [62]:
set_female_name = set(list_female_name)
set_male_name = set(list_male_name)
set_general_name = set_female_name & set_male_name
if len(set_general_name) == 0:
    print("Общих имен нет.")
else:
    print(f"Множество общих имен: {set_general_name}\n")
    print(data[data["basicFirstNameList"].isin(set_general_name)])

set_full_female_name = set(list_full_female_name)
set_full_male_name = set(list_full_male_name)
set_full_general_name = set_full_female_name & set_full_male_name
if len(set_full_general_name) == 0:
    print("\nОбщих полных имен нет.")
else:
    print(f"\nМножество общих полных имен: {set_full_general_name}\n")
    print(f"\n{data[data['FirstNameList'].isin(set_full_female_name)]}")

Множество общих имен: {'Jean'}

             Survived Pclass                          Name     Sex   Age  \
PassengerId
330                 1      1  Hippach, Miss. Jean Gertrude  female  16.0
596                 0      3   Van Impe, Mr. Jean Baptiste    male  36.0

             SibSp  Parch  Ticket     Fare Cabin Embarked  FirstNameList  \
PassengerId
330              0      1  111361  57.9792   B18        C  Jean Gertrude
596              1      1  345773  24.1500   NaN        S  Jean Baptiste

            basicFirstNameList
PassengerId
330                       Jean
596                       Jean

Общих полных имен нет.