                                                Бояринцев Дмитрий Федорович

# Лабораторная работа №6

## Библиотека pandas

In [2]:
import pandas as pd
from datetime import date

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/home/demon/.local/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/home/demon/.local/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/home/demon/anaconda3/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/home/demon/anaconda3/lib/python3.12/asyncio/base_events.py", line 1987, in _run_once
    handle._run()
  File "/home/demon/anaconda3/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/home/demon/.local/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/home/demon/.local/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_2523/2537033075.py", line 1, in <module>
    import pandas as pd
  File "/home/demon/anaconda3/lib/python3.12/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/home/demon/anaconda3/lib/python3.12/site-packages/pandas/core/api.py", line 1, in <module>
    from pandas._libs import (
  File "/home/demon/anaconda3/lib/python3.12/site-packages/pandas/_libs/__init__.py", line 17, in <module>
    import pandas._libs.pandas_datetime  # noqa: F401 # isort: skip # type: ignore[reportUnusedImport]

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

ImportError: numpy.core.multiarray failed to import

**1**. Таблица moscow-buildings.csv содержит информацию о годах постройки жилых домов в Москве.

1) Загрузите базу данных moscow-buildings.csv и сохраните ее как df_build. Удалите из базы данных строки, в которых значения года постройки не указаны («н.д.»), а после превратите столбец house_year в числовой.

In [2]:
df_build = pd.read_csv("Lab_6/moscow-buildings.csv", index_col=0)
df_build.info()
df_build = df_build.dropna()
df_build = df_build[df_build.house_year != "н.д."]
df_build.info()
df_build["house_year"] = df_build["house_year"].astype("int64")
df_build.dtypes
df_build.house_year
df_build

<class 'pandas.core.frame.DataFrame'>
Index: 29464 entries, 2281084 to 2281107
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   29464 non-null  object
 1   city           29464 non-null  object
 2   address        29464 non-null  object
 3   street_prefix  28972 non-null  object
 4   street_name    28971 non-null  object
 5   building       28974 non-null  object
 6   house_id       29464 non-null  int64
 7   area_name      29464 non-null  object
 8   house_year     29464 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 25827 entries, 2281084 to 2281107
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   25827 non-null  object
 1   city           25827 non-null  object
 2   address        25827 non-null  object
 3   street_prefix  25827 non-null  object
 4   street_name    25827 non-null  object
 5   building       25827 non-null  object
 6   house_id       25827 non-null  int64
 7   area_name      25827 non-null  object
 8   house_year     25827 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.0+ MB

,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
area_id,,,,,,,,,
2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963
...,...,...,...,...,...,...,...,...,...
2281107,г Москва ул Короленко д.7 кор.2,Москва,ул Короленко д.7 кор.2,ул,Короленко,д.7 кор.2,7630827,муниципальный округ Сокольники,1926
2281107,г Москва ул Маленковская д.3,Москва,ул Маленковская д.3,ул,Маленковская,д.3,8280705,муниципальный округ Сокольники,1997
2281107,г Москва ул Русаковская д.31,Москва,ул Русаковская д.31,ул,Русаковская,д.31,7550765,муниципальный округ Сокольники,2009
2281107,г Москва ул Сокольническая Слободка д.3,Москва,ул Сокольническая Слободка д.3,ул,Сокольническая Слободка,д.3,8285714,муниципальный округ Сокольники,2005
2281107,г Москва ул Шумкина д.11 кор.а,Москва,ул Шумкина д.11 кор.а,ул,Шумкина,д.11 кор.а,8476228,муниципальный округ Сокольники,2007

2) Посмотрите на минимальное и максимальное значения года постройки. Разумны ли они? Если нет, уберите из базы данных «странные» значения года постройки (оставьте данные о постройках с года основания Москвы до текущего года включительно). Подсчитайте количество удаленных записей.

In [3]:
min_house_year = df_build["house_year"].min()
max_house_year = df_build["house_year"].max()
print(min_house_year)
print(max_house_year)
df_build = df_build[(df_build["house_year"] >= 1147) & (df_build["house_year"] <= 2024)]
min_house_year = df_build["house_year"].min()
max_house_year = df_build["house_year"].max()
print(min_house_year)
print(max_house_year)
df_build.house_year

5
19781962
1659
2015

area_id
2281084    1968
2281084    1964
2281084    1972
2281084    1963
2281084    1963
           ...
2281107    1926
2281107    1997
2281107    2009
2281107    2005
2281107    2007
Name: house_year, Length: 25804, dtype: int64

3) Выберите из базы данных строки, соответствующие Басманному району и сохраните их в базу basm_data.

In [11]:
df_build[df_build["area_name"].str.contains("Басман", case=False)].head(1)
basm_data = df_build[df_build["area_name"] == "муниципальный округ Басманный"]
basm_data.info()
basm_data

<class 'pandas.core.frame.DataFrame'>
Index: 635 entries, 2281050 to 2281050
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   full_address   635 non-null    object
 1   city           635 non-null    object
 2   address        635 non-null    object
 3   street_prefix  635 non-null    object
 4   street_name    635 non-null    object
 5   building       635 non-null    object
 6   house_id       635 non-null    int64
 7   area_name      635 non-null    object
 8   house_year     635 non-null    int64
dtypes: int64(2), object(7)
memory usage: 49.6+ KB

,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
area_id,,,,,,,,,
2281050,г Москва б-р Покровский д.14/5,Москва,б-р Покровский д.14/5,б-р,Покровский,д.14/5,8104093,муниципальный округ Басманный,1927
2281050,г Москва б-р Покровский д.14/6 строение 1,Москва,б-р Покровский д.14/6 строение 1,б-р,Покровский,д.14/6 строение 1,8104094,муниципальный округ Басманный,1915
2281050,г Москва б-р Покровский д.16/10 строение 1,Москва,б-р Покровский д.16/10 строение 1,б-р,Покровский,д.16/10 строение 1,8104099,муниципальный округ Басманный,1860
2281050,г Москва б-р Покровский д.16_18 строение 4_4А,Москва,б-р Покровский д.16_18 строение 4_4А,б-р,Покровский,д.16_18 строение 4_4А,8104106,муниципальный округ Басманный,1860
2281050,г Москва б-р Покровский д.18/15 строение 2,Москва,б-р Покровский д.18/15 строение 2,б-р,Покровский,д.18/15 строение 2,8104113,муниципальный округ Басманный,1860
...,...,...,...,...,...,...,...,...,...
2281050,г Москва ул Чаплыгина д.10/11 строение 3,Москва,ул Чаплыгина д.10/11 строение 3,ул,Чаплыгина,д.10/11 строение 3,8103910,муниципальный округ Басманный,1894
2281050,г Москва ул Чаплыгина д.15 строение 5,Москва,ул Чаплыгина д.15 строение 5,ул,Чаплыгина,д.15 строение 5,8103913,муниципальный округ Басманный,1927
2281050,г Москва ул Чаплыгина д.16,Москва,ул Чаплыгина д.16,ул,Чаплыгина,д.16,8090083,муниципальный округ Басманный,1955
2281050,г Москва ул Чаплыгина д.1А строение 1,Москва,ул Чаплыгина д.1А строение 1,ул,Чаплыгина,д.1А строение 1,8103921,муниципальный округ Басманный,1900
2281050,г Москва ул Чаплыгина д.8 строение 1,Москва,ул Чаплыгина д.8 строение 1,ул,Чаплыгина,д.8 строение 1,8103925,муниципальный округ Басманный,1898

4) Сгруппируйте данные в базе по районам и посмотрите, сколько домов в базе относятся к каждому району.

In [15]:
grouped_data = df_build.groupby("area_name")
print(grouped_data.count())

                                   full_address  city  address  street_prefix  \
area_name
муниципальный округ Академический           344   344      344            344
муниципальный округ Алексеевский            212   212      212            212
муниципальный округ Алтуфьевский            114   114      114            114
муниципальный округ Арбат                   134   134      134            134
муниципальный округ Аэропорт                186   186      186            186
...                                         ...   ...      ...            ...
муниципальный округ Южное Тушино            320   320      320            320
муниципальный округ Южнопортовый            200   200      200            200
муниципальный округ Якиманка                105   105      105            105
муниципальный округ Ярославский             177   177      177            177
муниципальный округ Ясенево                 152   152      152            152

                                   street_name  building  house_id  house_year
area_name
муниципальный округ Академический          344       344       344         344
муниципальный округ Алексеевский           212       212       212         212
муниципальный округ Алтуфьевский           114       114       114         114
муниципальный округ Арбат                  134       134       134         134
муниципальный округ Аэропорт               186       186       186         186
...                                        ...       ...       ...         ...
муниципальный округ Южное Тушино           320       320       320         320
муниципальный округ Южнопортовый           200       200       200         200
муниципальный округ Якиманка               105       105       105         105
муниципальный округ Ярославский            177       177       177         177
муниципальный округ Ясенево                152       152       152         152

[119 rows x 8 columns]

5) Найдите средний возраст дома (возраст – в годах, считаем от текущего года) по каждому району. Подсказка: сначала добавьте переменную house_age («возраст дома»).

In [17]:
current_year
house_age = df_build.groupby("area_name")["house_year"].mean().reset_index()
print(house_age)

                             area_name   house_year
0    муниципальный округ Академический  1965.316860
1     муниципальный округ Алексеевский  1962.844340
2     муниципальный округ Алтуфьевский  1971.719298
3            муниципальный округ Арбат  1930.537313
4         муниципальный округ Аэропорт  1962.897849
..                                 ...          ...
114   муниципальный округ Южное Тушино  1969.528125
115   муниципальный округ Южнопортовый  1962.905000
116       муниципальный округ Якиманка  1948.466667
117    муниципальный округ Ярославский  1971.971751
118        муниципальный округ Ясенево  1980.335526

[119 rows x 2 columns]

6) Найдите самый старый дом и выведите информацию о нем.

**2.** Загрузите таблицу titanic.csv и найдите ответы на следующие вопросы. Если ответ нужно приводить в процентах, то это должно быть число в интервале от 0 до 100, округленное до двух знаков, знак процента не нужен.  

1) Посчитайте долю выживших пассажиров.

2) Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин.

3) Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.

4) Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

5) Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское имя на корабле?

6) Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

7) Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

8) Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.